@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900');
.grid-event{
    display:inline-grid;
    grid-template-columns:180px 150px 180px 150px 150px;
    padding: 5px;
    align-content: center;
    /*background-color: #E9967A;*/
    grid-column-end: initial;

}
.grid-item{
    padding:10px;
    /*background-color: #FAEBD7;*/
}
.grid-item3{
    padding: 10px;
    /*background-color: #FAEBD7;*/
    grid-column: 3/6;
}
{/*.grid-notif{
    dispay:grid;
    grid-template-columns:250px 250px 200px;
    padding: 10px;
    background-color: #E9967A;
    grid-column-end: initial;
}*/}

.border1{
    align:'left';
}

.border2{
    align:'left';
}