:root{


    --main_color : #196070;
    --text_color : #e5ffe0;
    --background_color: #f5f5dc;
    
        
    /*Uncomment below to see the dark theme*/
    /*
    --main_color : #27221F;
    --text_color : #f5f5df;
    --background_color: #ffffff;
    */
}

.right-side{
    grid-column: 9 / 13;		/*start at 5th col line and span 8 cols*/
    /*6*/
    color:var(--text_color);
    background-color: var(--main_color);
    overflow-y: scroll;
}

@media screen and (max-width: 800px)
{
    .right-side{
        display: none;
    }
    .left-side{
    grid-column: 1 / 13; /* start on line 1 and end on line 5 */
    overflow: scroll;
    /*2*/
    color : /*white*/black;
    }

    ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
}

.left-side{
    grid-column: 1 / 9; /* start on line 1 and end on line 9 */
    overflow: hidden;
    /*background-color: #325b2f/*#519b4f*/;
    /*3*/
    height: 620px;
}

.button{
    align:left;
    /*5*/
    color : var(--text_color);
    display: inline-grid;
    border:solid;
    border-width: 0em .15em .15em 0em;
    border-color:#f6e6de;
}

.button:hover{
    box-shadow: 0px 4px 6px 2px rgba(0,0,0, 0.3) ;
}

.button_after{
    box-shadow: 0px 4px 6px 2px rgba(0,0,0, 0.3) ;
}

._after{
    box-shadow: 0px 4px 6px 2px rgba(0,0,0, 0.3) ;
}

.button1{
    background-color:var(--main_color)/*#5f9bfc*/;
    width: 50%;
}

.button2{
    background-color:var(--main_color)/*#009925*/;
    width: 50%;
}

.header{
    background-color: var(--text_color);
    /*4*/
    color : var(--main_color);
    font-size:18px;
    padding-top: .3em;
    
}

.notifs{
    height: 75%;
    overflow: scroll;
    background-color: /*#F4F142*/white;
    color : black;
}

.center{
    text-align : center;
}

.notification-window{
    height:100%;
    /*background-color: white;*/
}

.registeredEvents{
    height:100%;
    /*background-color: white;*/
}

#main-div
{
    max-height: 1200px;
    background-color: var(--background_color);
}

.grid-item{
    
}

.remaining-info-user{
    padding-left:15px;
    font-size:18px;
}

.user-avatar{
    border-radius: 50%;
    box-shadow: 0 6px 8px 0 rgba(0,0,0, 0.3);
}

/*If you want your grid layout to contain 4 columns,
specify the width of the 4 columns, or "auto" if all
 columns should have the same width.*/

.grid-container{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto ;
    padding: 0px;
}

.grid-container-card{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto ;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255 ,0.2);
    transition: 0.3s;
    width: 80%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255,0.3);
}

.container {

    padding-left: .5em;
    padding-top : .1em;
    padding-bottom: .5em;
    background-color:white/*#00cdb6/*f71c10/*f73b11*//*40a814*//*42f4b3*/;
    color: var(--main_color);
}

::-webkit-scrollbar {
    width: 0.3em;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main_color);
    outline: 1px solid slategrey;
}

.headings{
	margin: 0px;
	color : black;
	text-align: right;
}
