.NavigationButton {
	position: absolute;
	top: 0;
	right: 0;
	margin: 1em;
	background-color: gold;
	color: white;
	z-index: 9999;
	border: none;
}


.Button {
	text-decoration: none;
	background-color: gold;
	padding: 1em;
	border: 1px solid;
	color: black;
	cursor: pointer;
}

.Button:hover {
	background-color: gold;
	color: black;
}